version: '3.8'

services:
  spoolman:
    image: ghcr.io/donkie/spoolman:latest
    container_name: spoolman
    restart: unless-stopped
    volumes:
      - /opt/printer-web-app/spoolman_data:/home/app/.local/share/spoolman
    ports:
      - "7912:8000"
    environment:
      - TZ=Europe/Berlin
    networks:
      - printer-network

networks:
  printer-network:
    driver: bridge
